 /* reset */
 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center, dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
  display: block;
 }
 body {
  line-height: 1;
 }
 ol, ul {
  list-style: none;
 }
 blockquote, q {
  quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
  content: '';
  content: none;
 }
 table {
  border-collapse: collapse;
  border-spacing: 0;
 }

/* clearfix */
.group:before, .group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

/* global styles */
/* http://mystrd.at/modern-clean-css-sticky-footer/ */
html {
  position: relative;
  min-height: 100%;
}

body {
  font: 16px "Avenir", "Helvetica";
  background-color: #efefef;
  color: #333;
  margin: 0 0 150px; /* match footer height */
}

.logo img {
  height: 100%;
}

#application-header {
  background-color: #4aac48;
  height: 54px;
  padding: 6px;
}

.search, #searchField {
  margin: 15px 8px;
  border: 1px solid black;
}

.search {
  background: url('icons/search.png') #fcfcfc no-repeat center;
  width: 48px;
  height: 48px;
  margin-top: 10px;
  border-radius: 6px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.search:hover {
  border-radius: 25px;
}

#searchField {
  -webkit-appearance: textfield;
  width: 200px;
  height: 30px;
  padding: 5px;
  border-radius: 18px;
}

.top-right {
  position: absolute;
  top: 0px;
  right: 0px;
}

/* footer */
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 150px;
  font-size: 80%;
  color: #efefef;
  background-color: #4aac48;
}

.footer-links, address.footer {
  display: inline-block;
  padding: 16px;
}

.footer-links {
  float: left;
  width: 150px;
}

.footer-links a {
  color: inherit;
}

.copyright {
  margin: 18px 15px 0;
  padding: 20px 0 0;
}

.hidden {
  display: none;
}

.center-section {
  margin: 20px auto;
  text-align: center;
}

.title {
  font-size: 200%;
  text-align: center;
  padding: 10px;
  border-bottom: 4px solid #c4c4c4;
}

.subtitle {
  font-size: 150%;
  padding: 8px 15px;
}

.button {
  padding: 10px;
  font-size: 120%;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #3e414c;
  color: #fcfcfc;
  border-radius: 6px;
}

.forward-redirect, .back-redirect {
  color: inherit;
  display: block;
  padding: 5px;
}

.forward-redirect::after {
  content: "→";
  display: inline-block;
  position: relative;
  left: 5px;
}

.back-redirect::before {
  content: "←"; /* find html encoded version */
  display: inline-block;
  position: relative;
  right: 5px;
}

.background {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background-color: rgb(207, 207, 207); /* #cfcfcf */
  background-color: rgba(207, 207, 207, 0.7);
}

.dark {
  background-color: rgb(51, 51, 51);
  background-color: rgba(51, 51, 51, 0.7);
}

.dark * {
  color: #eee;
}

.categories {
  padding: 0;
  text-align: center;
}

.category-link {
  text-decoration: none;
  color: inherit;
}

.product-listing {
  position: relative;
  overflow: hidden;
  max-width: 500px;
  max-height: 200px;
}

.category {
  display: inline-block;
  position: relative;
  max-width: 500px;
}

.category-title {
  font-size: 150%;
  padding: 2px 20px;
  text-align: left;
}

.statement {
  margin: 2%;
}

.products {
  width: 100%;
  margin: 0 auto;
}

.product-link {
  text-decoration: none;
  color: inherit;
}

.product-banner-image {
  width: 100%;
}

.list-information, .description {
  margin: 0 15px;
}

.description .subtitle {
  text-align: center;
}

.right {
  float: right;
}

.crop {
  position: relative;
  max-height: 220px;
  overflow: hidden;
}

.crop img {
  width: 100%;
  height: auto;
}

.info .background {
  padding: 5px 0;
}

.name {
  padding: 0 15px;
  font-size: 130%;
}

.name.last {
  font-weight: 500;
  font-size: 150%;
}

.product-location {
  position: absolute;
  right: 5px;
  bottom: 10px;
}

.background.inset *, .right-link {
  margin: 0 15px;
}

.right-link {
  text-align: right;
  float: right;
}

.timeline-container {
  margin: 15px 0;
  width: 100%;
  height: 80px;
  overflow-x: scroll;
  overflow-y: hidden;
  background-color: orange;
}

.rental {
  margin: 10px 0;
  text-align: center;
}

.push-footer-down {
  height: 50px; /* fix half-occluded buttons at mission.php bottom */
}

@media screen and (min-width: 500px) {
  #application-header {
    height: 70px;
  }

  .category {
    width: calc(50% - 10px);
  }

  .products {
    width: 80%;
  }

  .product-listing {
    display: inline-block;
    width: calc(50% - 10px);
  }

  .product-image {
    margin: 0 auto;
    max-width: 500px;
  }

  .product {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 850px) {
  .product-image {
    float: left;
  }

  .product {
    display: inline-block;
    width: calc(100% - 500px);
    padding: 15px 0;
  }
}
