/* faq page */
section {
	padding: 1% 5%;
}
.subtitle {
	font-size: 150%;
	padding: 15px 0 0;
}
.questions {
  margin: 20px 0 0 0;
}

.questions-list {
  padding: 3px 0;
}

.questions-list li {
  padding: 2px 0;
}

.answers {
	/*visibility: hidden;*/
}

.question_answer {
	padding: 15px;
	max-width: 330px;
	border: 1px solid #c4c4c4;
	border-radius: 4px;
	/*visibility: hidden;*/
}

/*<section class="ansvers"-have to style so when user clicker on link it should jump down to the page and show answer*/