/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* global styles */
body {
  font: 16px "Avenir", "Helvetica";
  background-color: #efefef;
  color: #333;
}

#application-header {
  background-color: #4aac48;
  max-height: 70px; /* won't work because of padding */
}

header, section {
  padding: 2% 5%;
}

input[type=search] {
  float: right;
}

img.hero {
  height: 200px;
  width: 100%;
}

.hidden {
  display: none;
}

.center-section {
  margin: 20px auto;
  text-align: center;
}

.title {
  font-size: 200%;
  text-align: center;
  padding: 10px;
  border-bottom: 4px solid #c4c4c4;
}

.subtitle {
  font-size: 150%;
  padding: 8px 0;
}

.button {
  padding: 10px;
  font-size: 120%;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #3e414c;
  color: #fcfcfc;
  border-radius: 6px;
}

.forward-redirect, .back-redirect {
  color: inherit;
  display: block;
  padding: 5px;
}

.forward-redirect::after {
  content: "→";
  display: inline-block;
  position: relative;
  left: 5px;
}

.back-redirect::before {
  content: "←"; /* find html encoded version */
  display: inline-block;
  position: relative;
  right: 5px;
}

.background {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background-color: rgb(207, 207, 207); /* #cfcfcf */
  background-color: rgba(207, 207, 207, 0.7);
}

.categories {
  margin: 5% 0;
  padding: 0;
}

.category-link {
  text-decoration: none;
  color: inherit;
}

article.category {
  position: relative;
  overflow: hidden;
  margin-bottom: 5px;
  max-width: 500px;
  max-height: 200px;
}

.category-title {
  font-size: 150%;
  padding: 2px 20px;
}

.statement {
  margin: 2%;
}