@media all and (min-width: 960px) {
	.under_picture div {
		max-width: 50%;
		display: inline-block;
	}

	.under_picture .description{
		display: inline-block;
	}

	.picture_of_product, .description {
		margin-top: 20px;
	}

	.description {
		width: 446px;
	}

	.list-information {
		margin: 18px 24px 0 0;
		display: inline-block;
		width: 449px;
		float: right;
	}

	.list-information ul, li {
		display: inline-block;
		width: 233px;
	}

	.list_under_picture {
		display: inline-block;
		max-width: 182px;
		float: left;
		padding: 0 21px 0;
	}

	.user-link {
		margin: 0;
	}

	.timeline-container {
		max-width: 480px;
		display: inline-block;
	}


}
@media all and (min-width: 1024px) {
	.under_picture div {
		max-width: 50%;
		display: inline-block;
	}

	.under_picture .description{
		display: inline-block;
	}

	.picture_of_product, .description {
		margin-top: 20px;
	}

	.description {
		width: 560px;
		margin: 0 -18px;
	}

	.list-information {
		margin: 18px 24px 0 0;
		display: inline-block;
		width: 542px;
		float: right;
		padding: 0 17px;
	}

	.list-information ul, li {
		display: inline-block;
		width: 233px;
	}

	.list_under_picture {
		display: inline-block;
		max-width: 182px;
		float: left;
		padding: 0 21px 0;
	}

	.user-link {
		margin: 0;
	}

	.timeline-container {
		max-width: 480px;
		display: inline-block;
	}


}