.under_picture div {
	max-width: 50%;
	display: inline-block;
}

.picture_of_product, .description {
	margin-top: 20px;
}

.description {
	float: right;
	width: 446px;
}

.list-information {
	margin: 5px;
	display: inline-block;
	width: 470px;
	float: left;
}

.list-information ul, li {
	display: inline-block;
	width: 233px;
}

.list_under_picture {
	display: inline-block;
	max-width: 233px;
	float: left;
}