section {
	padding: 1% 5%;
}

.sheet-contact {
  margin: 20px 0 0 0;
}

.contact {
  padding: 15px 0 0;
}

.input_description {
	padding: 1% 3% 0 0;
}

.confirm {
	display: block;
}

.receipt p {
	/*visibility: hidden;*/
	padding: 3% 0;
	text-align: center;
}

.fill_up {
	min-width: 298px;
	
}