section {
	padding: 1% 5%;
}

.fade-on-submit-sheet-contact {
  margin: 20px 0 0 0;
}

.contact {
  padding: 15px 0 0;
}

.input_description {
	padding: 0 3% 0 0;
}

.input_description input, textarea {
	min-width: 300px;
}

.input_description textarea {
	min-height: 120px;
}

.confirm {
	display: block;
}

.hidden_receipt p{
	/*visibility: hidden;*/
	padding: 3% 0;
}

.fill_up {
	min-width: 300px;
}