.receipt p {
	padding: 10px 0;
}

.fade-on-submit {
	padding: 10px 58px;
}

.contact {
	padding-top: 20px;
}

.contact label {
	font-size: 120%;
}

.input_field input, textarea {
	margin-bottom: 15px;
	min-width: 250px;
}

.input_field textarea {
	min-height: 80px;
}

.submit_field input {
	border-radius: 8px;
	color: #fcfcfc;
	background-color: #3e414c;
	padding: 5px;
	font-size: 100%;

}