/* faq page */
section {
	padding: 1% 5%;
}
.subtitle {
	font-size: 150%;
	padding: 15px 0 0;
}
.questions {
    margin: 20px;
}

.questions-list {
    padding: 3px 0;
}

.questions-list li {
    padding: 2px 0;
}

.answers {
	padding: 15px;
	max-width: 330px;
	border: 1px solid #c4c4c4;
	border-radius: 4px;
}

.answer div {
	padding: 3% 0;
}

.answers article {
	padding: 15px 0;
}

.answer h3 {
	font-weight: bold;
	color: #333;
}

.answers_list {
	list-style: circle;
	margin: 20px;
}
/*<section class="ansvers"-have to style so when user clicker on link it should jump down to the page and show answer*/